.vscode/**
*.vsix
.gitignore
remove-unreferenced-images.js
# Exclude all node_modules except required ones
node_modules/**
!node_modules/@modelcontextprotocol/**
!node_modules/zod/**
!node_modules/node-html-parser/**
!node_modules
